/*$border*/
@layer container {
  .\$border {
    border-style: solid;
  }
}

/*$grid(cols(1fr,1fr,1fr,1fr),gap(1rem))*/
@layer container {
  .\$grid\(cols\(1fr\,1fr\,1fr\,1fr\)\,gap\(1rem\)\) {
    display: grid;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

/*$border*/
@layer container {
  .\$border {
    border-style: solid;
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*$border(dashed)*/
@layer container {
  .\$border\(dashed\) {
    border-style: dashed;
  }
}

/*$border(dotted)*/
@layer container {
  .\$border\(dotted\) {
    border-style: dotted;
  }
}

/*$border(double)*/
@layer container {
  .\$border\(double\) {
    border-style: double;
  }
}

/*$grid(cols(1fr,1fr,1fr),gap(1rem))*/
@layer container {
  .\$grid\(cols\(1fr\,1fr\,1fr\)\,gap\(1rem\)\) {
    display: grid;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

/*$border(solid,thin)*/
@layer container {
  .\$border\(solid\,thin\) {
    border-style: solid;
    border-width: thin;
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*$border(solid,medium)*/
@layer container {
  .\$border\(solid\,medium\) {
    border-style: solid;
    border-width: medium;
  }
}

/*$border(solid,thick)*/
@layer container {
  .\$border\(solid\,thick\) {
    border-style: solid;
    border-width: thick;
  }
}

/*$border(solid,1px)*/
@layer container {
  .\$border\(solid\,1px\) {
    border-style: solid;
    border-width: 1px;
  }
}

/*$border(solid,0.25rem)*/
@layer container {
  .\$border\(solid\,0\.25rem\) {
    border-style: solid;
    border-width: 0.25rem;
  }
}

/*$border(solid,5px)*/
@layer container {
  .\$border\(solid\,5px\) {
    border-style: solid;
    border-width: 5px;
  }
}

/*$border(w(1em,2px,3cm,4rem))*/
@layer container {
  .\$border\(w\(1em\,2px\,3cm\,4rem\)\) {
    border-style: solid;
    border-block-width: 1em 3cm;
    border-inline-width: 2px 4rem;
  }
}

/*$grid(cols(1fr,1fr,1fr),gap(1rem))*/
@layer container {
  .\$grid\(cols\(1fr\,1fr\,1fr\)\,gap\(1rem\)\) {
    display: grid;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

/*$border(solid,2px,radius(0.25rem))*/
@layer container {
  .\$border\(solid\,2px\,radius\(0\.25rem\)\) {
    border-style: solid;
    border-width: 2px;
    border-radius: 0.25rem;
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*$border(solid,2px,radius(1rem))*/
@layer container {
  .\$border\(solid\,2px\,radius\(1rem\)\) {
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
  }
}

/*$border(solid,2px,radius(50%))*/
@layer container {
  .\$border\(solid\,2px\,radius\(50\%\)\) {
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
  }
}

/*$border(solid,2px,r(10px,20px,30px,40px))*/
@layer container {
  .\$border\(solid\,2px\,r\(10px\,20px\,30px\,40px\)\) {
    border-style: solid;
    border-width: 2px;
    border-start-start-radius: 10px;
    border-end-end-radius: 30px;
    border-start-end-radius: 20px;
    border-end-start-radius: 40px;
  }
}

/*$border(solid,2px,r(50%,10%,50%,10%))*/
@layer container {
  .\$border\(solid\,2px\,r\(50\%\,10\%\,50\%\,10\%\)\) {
    border-style: solid;
    border-width: 2px;
    border-start-start-radius: 50%;
    border-end-end-radius: 50%;
    border-start-end-radius: 10%;
    border-end-start-radius: 10%;
  }
}

/*$border(solid,2px,r(1px,99%,2px,98%))*/
@layer container {
  .\$border\(solid\,2px\,r\(1px\,99\%\,2px\,98\%\)\) {
    border-style: solid;
    border-width: 2px;
    border-start-start-radius: 1px;
    border-end-end-radius: 2px;
    border-start-end-radius: 99%;
    border-end-start-radius: 98%;
  }
}

/*$border(solid,2px,r(1em,2vh,3%,4px))*/
@layer container {
  .\$border\(solid\,2px\,r\(1em\,2vh\,3\%\,4px\)\) {
    border-style: solid;
    border-width: 2px;
    border-start-start-radius: 1em;
    border-end-end-radius: 3%;
    border-start-end-radius: 2vh;
    border-end-start-radius: 4px;
  }
}

/*$grid(cols(1fr,1fr,1fr),gap(1rem))*/
@layer container {
  .\$grid\(cols\(1fr\,1fr\,1fr\)\,gap\(1rem\)\) {
    display: grid;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

/*$border(solid,2px)*/
@layer container {
  .\$border\(solid\,2px\) {
    border-style: solid;
    border-width: 2px;
  }
}

/*$borderColor(red)*/
@layer container {
  .\$borderColor\(red\) {
    border-color: red;
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*$borderColor(blue)*/
@layer container {
  .\$borderColor\(blue\) {
    border-color: blue;
  }
}

/*$borderColor(#00ff00)*/
@layer container {
  .\$borderColor\(\#00ff00\) {
    border-color: rgb(0, 255, 0);
  }
}

/*$borderColor(rgba(128,0,128,0.5))*/
@layer container {
  .\$borderColor\(rgba\(128\,0\,128\,0\.5\)\) {
    border-color: rgba(128, 0, 128, 0.5);
  }
}

/*$grid(cols(1fr,1fr),gap(1rem))*/
@layer container {
  .\$grid\(cols\(1fr\,1fr\)\,gap\(1rem\)\) {
    display: grid;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/*$border(w(1px,2px,3px,4px),s(solid,dashed,dotted,double))*/
@layer container {
  .\$border\(w\(1px\,2px\,3px\,4px\)\,s\(solid\,dashed\,dotted\,double\)\) {
    border-style: solid;
    border-block-width: 1px 3px;
    border-inline-width: 2px 4px;
    border-block-style: solid dotted;
    border-inline-style: dashed double;
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*$border(w(.,2px,.,4px),s(.,solid,.,dotted))*/
@layer container {
  .\$border\(w\(\.\,2px\,\.\,4px\)\,s\(\.\,solid\,\.\,dotted\)\) {
    border-style: solid;
    border-block-width: unset;
    border-inline-width: 2px 4px;
    border-block-style: unset;
    border-inline-style: solid dotted;
  }
}

/*$border(w(0,3px,0,3px))*/
@layer container {
  .\$border\(w\(0\,3px\,0\,3px\)\) {
    border-style: solid;
    border-block-width: 0px;
    border-inline-width: 3px;
  }
}

/*$border(w(3px,0,3px,0))*/
@layer container {
  .\$border\(w\(3px\,0\,3px\,0\)\) {
    border-style: solid;
    border-block-width: 3px;
    border-inline-width: 0px;
  }
}

/*$grid(cols(1fr,1fr,1fr),gap(1rem))*/
@layer container {
  .\$grid\(cols\(1fr\,1fr\,1fr\)\,gap\(1rem\)\) {
    display: grid;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

/*$border(0)*/
@layer container {
  .\$border\(0\) {
    border-style: solid;
    border-width: 0px;
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*$border(none)*/
@layer container {
  .\$border\(none\) {
    border-style: none;
  }
}

/*$border(solid,2px,r(0))*/
@layer container {
  .\$border\(solid\,2px\,r\(0\)\) {
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
  }
}

/*$border(w(0,1px,2px,),s(.,.,solid,dashed))*/
@layer container {
  .\$border\(w\(0\,1px\,2px\,\)\,s\(\.\,\.\,solid\,dashed\)\) {
    border-style: solid;
    border-block-width: 0px 2px;
    border-inline-start-width: 1px;
    border-block-start-style: unset;
    border-inline-start-style: unset;
    border-block-end-style: solid;
    border-inline-end-style: dashed;
  }
}

/*$border(solid,0.0001px)*/
@layer container {
  .\$border\(solid\,0\.0001px\) {
    border-style: solid;
    border-width: 0.0001px;
  }
}

/*$border(solid,99px)*/
@layer container {
  .\$border\(solid\,99px\) {
    border-style: solid;
    border-width: 99px;
  }
}

/*$block(g(1rem))*/
@layer container {
  .\$block\(g\(1rem\)\) {
    display: block;
    word-spacing: 1rem;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
  }
}

/*$border(solid,1px)*/
@layer container {
  .\$border\(solid\,1px\) {
    border-style: solid;
    border-width: 1px;
  }
}

/*$padding(0.5rem,1rem)*/
@layer container {
  .\$padding\(0\.5rem\,1rem\) {
    padding: 0.5rem 1rem;
  }
}

/*:hover$border(solid,2px,r(0.5rem))*/
@layer container {
  .\:hover\$border\(solid\,2px\,r\(0\.5rem\)\):where(:hover) {
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5rem;
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*:hover$border(dashed,3px,r(1rem))*/
@layer container {
  .\:hover\$border\(dashed\,3px\,r\(1rem\)\):where(:hover) {
    border-style: dashed;
    border-width: 3px;
    border-radius: 1rem;
  }
}

/*$grid(cols(1fr,1fr),gap(1rem))*/
@layer container {
  .\$grid\(cols\(1fr\,1fr\)\,gap\(1rem\)\) {
    display: grid;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/*$border(solid,w(1px+1em))*/
@layer container {
  .\$border\(solid\,w\(1px\+1em\)\) {
    border-style: solid;
    border-width: calc(1em + 1px);
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*|*$border(r(25%))$padding(1rem)*/
@layer items {
  .\|\*\$border\(r\(25\%\)\)\$padding\(1rem\)>* {
    border-style: solid;
    border-radius: 25%;
    padding: 1rem;
  }
}

/*$border(w(1px,2px,3px,4px),s(solid,dashed,dotted,double))*/
@layer container {
  .\$border\(w\(1px\,2px\,3px\,4px\)\,s\(solid\,dashed\,dotted\,double\)\) {
    border-style: solid;
    border-block-width: 1px 3px;
    border-inline-width: 2px 4px;
    border-block-style: solid dotted;
    border-inline-style: dashed double;
  }
}

/*:hover$border(w(4px,3px,2px,1px),s(double,dotted,dashed,solid))*/
@layer container {
  .\:hover\$border\(w\(4px\,3px\,2px\,1px\)\,s\(double\,dotted\,dashed\,solid\)\):where(:hover) {
    border-style: solid;
    border-block-width: 4px 2px;
    border-inline-width: 3px 1px;
    border-block-style: double dashed;
    border-inline-style: dotted solid;
  }
}

/*$border(1px)*/
@layer container {
  .\$border\(1px\) {
    border-style: solid;
    border-width: 1px;
  }
}

/*|*$border(dotted,2px,r(2rem))*/
@layer items {
  .\|\*\$border\(dotted\,2px\,r\(2rem\)\)>* {
    border-style: dotted;
    border-width: 2px;
    border-radius: 2rem;
  }

}

/*|.special$border(dashed,3px,r(3rem))*/
@layer items {
  .\|\.special\$border\(dashed\,3px\,r\(3rem\)\)> :where(.special) {
    border-style: dashed;
    border-width: 3px;
    border-radius: 3rem;
  }
}

/*|.super$border(double,4px,r(4rem))*/
@layer items {
  .\|\.super\$border\(double\,4px\,r\(4rem\)\)> :where(.super) {
    border-style: double;
    border-width: 4px;
    border-radius: 4rem;
  }
}

/*$border(solid,1px)*/
@layer container {
  .\$border\(solid\,1px\) {
    border-style: solid;
    border-width: 1px;
  }
}

/*$border(dotted,2px)*/
@layer container {
  .\$border\(dotted\,2px\) {
    border-style: dotted;
    border-width: 2px;
  }
}

/*$border(dashed,3px)*/
@layer container {
  .\$border\(dashed\,3px\) {
    border-style: dashed;
    border-width: 3px;
  }
}

/*$grid(cols(1fr,1fr),gap(1rem))*/
@layer container {
  .\$grid\(cols\(1fr\,1fr\)\,gap\(1rem\)\) {
    display: grid;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/*$border(solid,w(--border-width))*/
@layer container {
  .\$border\(solid\,w\(--border-width\)\) {
    border-style: solid;
    border-width: var(--border-width);
  }
}

/*$padding(1rem)*/
@layer container {
  .\$padding\(1rem\) {
    padding: 1rem;
  }
}

/*$border(solid,w(1px+2px))*/
@layer container {
  .\$border\(solid\,w\(1px\+2px\)\) {
    border-style: solid;
    border-width: calc(3px);
  }
}

/*$boxShadow(10px,5px,5px,2px,#5c6bc0)*/
@layer container {
  .\$boxShadow\(10px\,5px\,5px\,2px\,\#5c6bc0\) {
    box-shadow: rgb(92, 107, 192) 10px 5px 5px 2px;
  }
}

/*$boxShadow(0,1rem,.25rem,#3f51b5)$boxShadow(0,.5rem,.5rem,blue)*/
@layer container {
  .\$boxShadow\(0\,1rem\,\.25rem\,\#3f51b5\)\$boxShadow\(0\,\.5rem\,\.5rem\,blue\) {
    box-shadow: rgb(63, 81, 181) 0px 1rem 0.25rem, blue 0px 0.5rem 0.5rem;
  }
}

/*$flex(gap(2rem))*/
@layer container {
  .\$flex\(gap\(2rem\)\) {
    display: flex;
    word-spacing: unset;
    line-height: unset;
    white-space: unset;
    hyphens: unset;
    text-align: unset;
    text-indent: unset;
    gap: 2rem;
  }
}

/*$boxShadow(0,.125rem,.25rem,rgba(0,0,0,.175))*/
@layer container {
  .\$boxShadow\(0\,\.125rem\,\.25rem\,rgba\(0\,0\,0\,\.175\)\) {
    box-shadow: rgba(0, 0, 0, 0.176) 0px 0.125rem 0.25rem;
  }
}

/*$boxShadow(0,.5rem,1rem,rgba(0,0,0,0.15))*/
@layer container {
  .\$boxShadow\(0\,\.5rem\,1rem\,rgba\(0\,0\,0\,0\.15\)\) {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem;
  }
}

/*$boxShadow(0,1rem,3rem,rgba(0,0,0,0.175))*/
@layer container {
  .\$boxShadow\(0\,1rem\,3rem\,rgba\(0\,0\,0\,0\.175\)\) {
    box-shadow: rgba(0, 0, 0, 0.176) 0px 1rem 3rem;
  }
}

/*$boxShadow(inset,0,2px,4px,0,rgba(0,0,0,0.6))*/
@layer container {
  .\$boxShadow\(inset\,0\,2px\,4px\,0\,rgba\(0\,0\,0\,0\.6\)\) {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
  }
}